body {
  font-size: 15px;
  line-height: 1.4em;

  width: 600px;
  margin: 96px auto;
}

h1 {
  font-family: 'lato', sans-serif;
  font-size: 45px;
  text-align: center;
}
h2 {
  Font-family: 'lato', sans-serif;
  font-size: 35px;
  text-align: center;

}

#todolist-container {
  padding: 0;
  margin-top: 20px;
  color: black;
  text-align: center;
}

#new-task-input {
  width: 360px;
  font-size: 16px;
  line-height: 1.4em;
}
.task {
  list-style: none;
  font-size: 22px;
  line-height: 1.8em;
}


  .task.completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

#new-task-input {
  width: 360px;
  font-size: 16px;
  line-height: 1.4em;

  border: none;
  border-bottom: 1px solid #88888;
  margin: 0px 12px;
}

  #new-task-input:focus {
    outline: none;
    border-bottom-color: #0D99FC;
  }

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.1em;

  border: none;
  border-radius: 3px;

  color: white;
  background: #0D99FC;
}
body {
  background-color: #0BDEC6;
  color: #4F4F4F;
}

label {
  font-family: 'Open Sans', sans-serif;
}

#gagoka {
  font-family: 'lato', sans-serif;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;

}
